.title{
        font-family: "Times New Roman", Times, serif;
        
}
h1{
    font-size: 78px;
    /* font-style: oblique; */
}

.bg-nyekundu{background-color:#dc3545!important}a.bg-nyekundu:focus,a.bg-nyekundu:hover,button.bg-nyekundu:focus,button.bg-nyekundu:hover{background-color:#bd2130!important}

.footer{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-family: cursive;
    font-style: oblique;
    background-color: tomato

}